#logoBog {
  width:20px;
  height:20px;

}

h1 {
	text-align: center;
	font-family: 'Major Mono Display', monospace;	


}
body {
	background-color: #4f4f4f;
}
div {
	font-family: 'Major Mono Display', monospace;	
}
